.collection {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 55px 35px;
  margin: 55px 0;
  padding: 0 48px;
  &__header {
    width: 100%;
    grid-column: 1 / -1;
  }
}
