.cartDropdown {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  width: 300px;
  min-height: 200px;
  max-height: 450px;
  background: #ffffff;
  border: 1px solid #000000;
  position: absolute;
  top: 130%;
  transform: translate(-85%, 0);
  padding: 20px 20px;
  cursor: default;
  overflow-y: auto;
  overflow-x: hidden;
}
