.preview {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 55px 35px;
  margin: 55px 0;
  padding: 0 48px;
  @media(max-width: 1200px) {
    padding: 0 25px;
    gap: 55px 20px;
  }
  @media(max-width: 900px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 55px 35px;
  }
  @media(max-width: 600px) {
    grid-template-columns: 1fr;
    padding: 0 48px;
  }
  @media(max-width: 480px) {
    grid-template-columns: 1fr;
    padding: 0 16px;
  }
  &__header {
    width: 100%;
    grid-column: 1 / -1;
  }
}
