@keyframes ldio-b919nezkndb {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.ldio-b919nezkndb div {
  animation: ldio-b919nezkndb 1s linear infinite;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  box-shadow: 0 4px 0 0 #0a0a0a;
}
.loadingio-spinner-eclipse-fiiul18oto9 {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #f1f2f3;
  display: flex;
  justify-content: center;
  padding: 20px 0 0 0;
}
.ldio-b919nezkndb {
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
}
