.sign-up {
  display: flex;
  flex-direction: column;
  width: 380px;
  overflow: hidden;
  @media (max-width: 1100px) {
    margin-bottom: 30px;
  }
  @media(max-width: 480px) {
    width: 90%;
  }
  @media(max-width: 380px) {
    width: 100%;
  }
  h2 {
    @media(max-width: 380px) {
      font-size: 22px;
    }
  }
  span {
    @media(max-width: 380px) {
      font-size: 15px;
    }
  }

  .title {
    margin: 10px 0;
  }
}
